<header class="app-header w3-col w3-bottombar">
    <!-- p *ngIf="kingomd.loaded; else defaultHeader"></p -->
    <p *ngIf="false; else defaultHeader">
    </p>
    <ng-template #defaultHeader>
        <div>Welcome to {{ appInfo.appName }}</div>
    </ng-template>
</header>
