header.app-header{
    //Font css
    font: var(--main-font);
    color: var(--main-font-color);
    font-size: var(--heading-font-size);
    //Visual css
    height: 75px;
    border-color: var(--border-color);
    //Display css
    position: sticky;
    top: 0;
    display: grid;
    //Grid css
    justify-items: center;
    align-items: center;

}