:root{
    --main-font: 'Raleway', sans-serif;
    --heading-font-size: 24pt;
}

body.light{
    --main-color: white;
    --border-color: grey;
    --main-font-color: black;
}

body.dark{
    --main-color: black;
    --border-color: grey;
    --main-font-color: white;
}

body{
    background-color: var(--main-color);
    color: var(--main-font-color);
}